<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Evolution Simulation</title>
  <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>

  <nav>
    <a class="brand" href="/">Evolution Simulation</a>
    <div class="nav-links">
      <a class="nav-tab" href="/performance">Performance</a>
      <a class="nav-tab" href="/about">About</a>
    </div>
  </nav>

  <main class="center">
    <canvas id="canvas"></canvas>    
    <script>
      var Module = {canvas: document.getElementById('canvas')};
    </script>
    <script defer src="/scripts/main.js"></script>
  </main>

</body>
</html>